<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EF1 Open Data Example Client</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables-1.10.0/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("API", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("About", "Api", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Invoices", "Invoice", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Diaries", "Diary", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h2>EF1 Open Data Example Client</h2>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EF1 Open Data Example Client</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.0/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.0/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery.dataTables.odata.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>